<div class="col-md-12">

    <form id="carOwnerForm" #carOwnerForm="ngForm" (ngSubmit)="onCarOwnerSubmit(carOwnerForm)">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"> {{mode}} Car Owner</legend>
            <div class="form-group">
                <div class="form-group row">
                    <label for="carList" class="col-md-2 col-form-label">Car list:</label>
                    <!-- <div class="col-md-4">
                        <input type="text" class="form-control" #carList="ngModel" name="carList" [(ngModel)]="carOwner.car" placeholder="Enter name">
                    </div> -->
                    <div class="col-md-3">
                        <select (change)="carSelectChange($event)">
                            <option [value]="car.id" *ngFor="let car of cars">{{car.brand}}</option>
                        </select>
                        <p><span>Car id selected: </span><b> {{carSelected}} </b></p>
                    </div>

                    <div class="col-md-3">
                        <select (change)="ownerSelectChange($event)">
                            <option [value]="owner.id" *ngFor="let owner of owners">{{owner.name}}</option>
                        </select>
                        <p><span>Owner id selected: </span><b> {{owerSelected}} </b></p>
                    </div>
                </div>
               
                <div class="form-group row">
                    <div class="col-md-5 text-right">
                        <button type="submit" class="btn btn-primary mr-2">Save</button>
                        <button type="button" class="btn btn-primary" (click)="onCLickCancelCarOwner()">Cancel</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    
</div>
