<div class="col-md-12">

    <form id="carOwnerForm" #carOwnerForm="ngForm" (ngSubmit)="onCarOwnerSubmit(carOwnerForm)">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border"> {{mode}} Car Owner</legend>
            <div class="form-group">

                <div class="form-group col-md-4">
                    <label for="car">Cars</label>
                    <select name="carSelect" class="form-control" [(ngModel)]="carIdSelected">
                        <option [value]="car.id" *ngFor="let car of cars">{{car.brand}}</option>
                    </select>
                </div>

                <div class="form-group row"></div>

                <div class="form-group col-md-4">
                    <label for="owner">Owners</label>
                    <select name="ownerSelect" class="form-control" [(ngModel)]="ownerIdSelected">
                        <option [value]="owner.id" *ngFor="let owner of owners">{{owner.name}}</option>
                    </select>
                </div>
                    
                <div class="form-group row">
                    <div class="col-md-4 text-right">
                        <button type="submit" class="btn btn-primary mr-2">Save</button>
                        <button type="button" class="btn btn-primary" (click)="onCLickCancelCarOwner()">Cancel</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    
</div>
