<div class="">
    <div class="col-md-12">
        <h2 class="text-center">Car Status List</h2>

        <div class="text-right">
            <button type="button" class="btn btn-primary mb-2" (click)="onCLickNewCarStatus()">Add Car Status</button>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nro</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let carStatus of carStatusList; let indice = index">
                    <td>{{indice +1}} </td>
                    <td> {{carStatus.name}} </td>
                    <td> {{carStatus.description}} </td>
                    <td width="150" class="text-center">
                        <button type="button" class="btn btn-info btn-sm mr-2" (click)="onClickEditCarStatus(carStatus.id)">Edit</button>
                        <button type="button" class="btn btn-danger btn-sm" (click)="onCLickDeleteCarStatus(carStatus.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>